{% extends "projects/base.html" %}
{% load static %}


{% block title %}
Argon - Login
{% endblock %}

{% block content %}



<!-- CODE FOR LOGIN -->

<section class="my-5">
    <div class="signup-form">
        <h3 class="text-primary">Login Now</h3>
        <form class="w-50 m-auto m-5 mt-5">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1"
                    placeholder="name@example.com">
            </div>
            <button type="btn" class="btn btn-primary">Login</button>
        </form>
    </div>
</section>





{% endblock %}