{% extends "projects/base.html" %}
{% load static %}


{% block title %}
Argon - Signup
{% endblock %}

{% block content %}


  

            <section class="my-5">
                <div class="signup-form">
                    <h2 class="text-primary">Signup Now</h2>
                    <form class="w-50 m-auto m-5 mt-5">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Conform Password</label>
                            <input type="password" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">
                        </div>
                        <p><span><input type="checkbox"></span> I agree to the terms and conditions</p>
                        <button type="btn" class="btn btn-primary">Signup</button>
                    </form>
                </div>
            </section>

        
{% endblock %}